@charset "utf-8";
*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    text-align: center;
}
h1{
    font-size: 64px;
}
h2{
    color: aliceblue;
    font-size: 36px;
}
.a1, .a2, .a3, .a4{
    background-color: rgb(19, 164, 116);
    border-radius: 10px;
    margin: 25px;
    padding: 25px;
}

.b1{
    display: flex;
    background-color: aliceblue;
    margin: 20px;
    border-radius: 5px;
}

p{
    font:large bold;
    padding: 20px;
}

.c1{
    font-weight: bold;
}

img{
    width: 250px;
  height: 250px;
  object-fit: cover;
}